{% set about_list_count = part.aboutCount %}
{% set about_list_text = part.aboutText %}

<div class="about_count_item">
	<div class="about_count_num">{{ about_list_count }}</div>
	<div class="about_count_text">{{ about_list_text }}</div>
</div>