{% set service_item_icon = part.servicesIcon.one() %}
{% set service_item_text = part.servicesDescription %}

<div class="service_item">
	<div class="service_item_wrapper">
		<img class="service_item_icon" src="{{ service_item_icon.url }}" alt="Service list item">
		<div class="service_item_text">{{ service_item_text }}</div>
	</div>
</div>