// Font family
@font-face {
	font-family: 'Museo Sans 300 Light';
	src: url('../assets/fonts/MuseoSansCyrl-300.woff') format('woff'),
	url('../assets/fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Colors
$color_reg: #3e3e3e;
$color_hover: #ccc;
$color_def: #fff;
$color_dark: #000;
$color_error: #de0000;
$card_back: #E5E6E1;

// Fonts
$body_family: 'Museo Sans 300 Light', sans-serif;
$hand_family: 'Dancing Script', cursive;

// Animations
$anim_style: cubic-bezier(0.215, 0.61, 0.355, 1);

// Mediaqueries
$tabletmin: 768;
$tabletmax: 992;
$smalldesk: 1200;
$largedesk: 1920;