@import '_mixins';

.about {
	position: relative;

	@media screen and (min-width: $tabletmax + 'px') {
		min-height: 100vh;
	}

	&.__active {

		.about_count_item {

			@for $i from 1 through 5 {

				&:nth-child(#{$i}) {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					transition: all 1s $anim_style #{$i * .05}s;
				}
			}
		}

		.about_slogan {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: all 1s $anim_style 0.3s;
		}
	}
}

.about_wrapper {
	background-position: top;
	background-repeat: no-repeat;
	min-height: inherit;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		background-size: 200%;
		padding-bottom: 50px;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		background-size: 120%;
		padding-bottom: 100px;
	}
}

.about_content {
	display: flex;
	flex-wrap: wrap;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding-top: 120px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding-top: 170px;
	}

	@media screen and (min-width: $tabletmax + 'px') {
		padding-top: 240px;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		padding-top: 220px;
	}
}

.about_count_item {
	position: relative;
	opacity: 0.25;
	transform: translate3d(-30px, 0, 0);
	transition: all 1s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		flex: none;
		width: 100%;
		margin-bottom: 50px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		width: 33.3333%;
	}

	@media screen and (min-width: $tabletmax + 'px') {
		width: 30%;
	}

	.about_count_num {
		font-size: 5rem;
		font-weight: 600;
	}

	.about_count_text {
		font-size: 1rem;

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			padding-right: 120px;
		}

		@media screen and (min-width: $tabletmin + 'px') {
			padding-right: 40px;
		}
	
		@media screen and (min-width: $smalldesk + 'px') {
			padding-right: 90px;
		}
	}
}

.about_slogan {
	flex: none;
	width: 100%;
	opacity: 0.15;
	transform: translate3d(0, 25px, 0);
	transition: all 1s $anim_style;

	p {
		font-family: $hand_family;
	}

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		margin-top: 0;

		p {
			width: 100%;
			max-width: 530px;
			font-size: 32px;
		}
	}

	@media screen and (min-width: $tabletmin + 'px') {
		margin-top: 75px;

		p {
			width: 60%;
			max-width: 435px;
			font-size: 40px;
		}
	}

	@media screen and (min-width: $smalldesk + 'px') {
		padding-right: 90px;

		p {
			width: 45%;
			font-size: 40px;
		}
	}
}