@import '_mixins';

.card {
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 50px 0;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 75px 0;
	}

	@media screen and (max-width: $tabletmax - 1 + 'px') {
		
		& > .container {
			padding: 0;
		}
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;
	}
}

.card_content_wrapper {
	padding-bottom: 30px;

	&:last-child {
		padding-bottom: 0;
	}
}

.card_content {
	background-color: $card_back;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 30px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		display: flex;
		padding: 30px 20px;
	}

	@media screen and (min-width: $tabletmax + 'px') {
		padding: 85px 130px 85px 40px;
	}
}

.card_image {
	flex: none;
	width: 250px;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		margin: 0 auto 30px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		margin-right: 50px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.card_description {
	flex: 1 1 0;
}

.card_title {
	font-size: 40px;
	font-family: $hand_family;
	margin-bottom: 20px;
}