@import '_mixins';

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

ul, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

button,
input,
select,
textarea {
	margin: 0;
	outline: none;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	text-rendering: geometricPrecision;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

body {
	color: $color_reg;
	scroll-behavior: smooth;
}

* {

  &,
  &::before,
  &::after {
		box-sizing: inherit;
	}
}

@-ms-viewport {
	width: device-width;
}

[tabindex="-1"]:focus {
	outline: 0 !important;
}

img,
embed,
iframe,
object,
video {
  height: auto;
	max-width: 100%;
}

img {
	-ms-interpolation-mode: bicubic;
}

audio {
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
  border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	
  &:not([align]) {
		text-align: left;
	}
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

body,
button,
input,
select,
textarea {
	font-family: $body_family;
}

input,
textarea {
	box-shadow: none;
	margin: 0;
}

input[type=text],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="tel"],
input[type="search"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	margin: 0;
	border: 0;
	font-family: $body_family;
}

input[type='number'],
input[type="tel"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input::-ms-clear {
	display: none;
}

[type="search"] {
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

select {

	&::-ms-expand {
		display: none;
	}
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	font-family: $body_family;
	user-select: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	background-color: transparent;
	text-decoration-skip-ink: auto;
}

fieldset {
	border: none;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

section {
	position: relative;
	z-index: 2000;
	background-color: $color_def;
}

.container {
	padding: 0 20px;
	max-width: 1040px;
	margin: 0 auto;
}