@import '_mixins';

.feedbacks {
	background-color: $card_back;
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 20px 0 50px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 30px 0 75px;
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;

		.feedback_glide_overlay {
			width: 0;
			transition: width 1s $anim_style;
		}

		.feedbacks_slider .glide__slide.glide__slide--active {
			transform: translate3d(0, 0, 0);
			transition: transform 1s $anim_style;
		}
	}
}

.feedbacks_content {
	max-width: 700px;
	margin: 0 auto;
}

.feedbacks_title {
	font-family: $hand_family;
	background-color: $card_back;
	text-align: center;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		font-size: 50px;
		margin-bottom: 40px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		font-size: 70px;
		margin-bottom: 60px;
	}
}

.feedback_glide_overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: $color_hover;
	transition: width 1s $anim_style;
}

.feedbacks_slider {

	.glide__slide {

		@media screen and (min-width: $tabletmin + 'px') {
			display: flex;
		}

		&.glide__slide--active {
			transform: translate3d(50%, 0, 0);
			transition: transform 1s $anim_style;
		}
	}

	.feedbacks_image {
		flex: none;
		object-fit: cover;
		font-family: 'object-fit: cover;';

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			max-width: 250px;
			max-height: 250px;
			margin: 0 auto;
			display: block;
		}
	
		@media screen and (min-width: $tabletmin + 'px') {
			margin-right: 40px;
			width: 300px;
			height: auto;
			max-height: 425px;
		}
	}

	.feedbacks_info {
		flex: 1 1 0;

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			text-align: center;
		}
	}

	.glide__arrows {
		position: absolute;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			top: 125px;
    	transform: translateY(-50%);
		}

		@media screen and (min-width: $tabletmin + 'px') {
			top: 0;
			transform: translateY(-255%);
		}
	
		@media screen and (min-width: $tabletmax + 'px') {
			top: 50%;
			transform: translateY(-50%);
		}

		.glide__arrow {
			position: relative;

			@media screen and (max-width: $tabletmin - 1 + 'px') {
				width: 30px;
			}

			@media screen and (min-width: $tabletmin + 'px') {
				width: 60px;
			}
		
			@media screen and (min-width: $tabletmax + 'px') {
				width: 100px;
			}

			img {
				width: 100%;
				height: auto;
				display: block;
				transition: opacity 0.2s $anim_style;
			}

			&.glide__arrow--prev {

				@media screen and (min-width: $tabletmax + 'px') {
					transform: translateX(-100%);
					left: -40px;
				}

				img {
					transform: rotate(180deg);
				}
			}

			&.glide__arrow--next {

				@media screen and (min-width: $tabletmax + 'px') {
					transform: translateX(100%);
					right: -40px;
				}
			}

			&:hover {

				img {
					opacity: 0.5;
					transition: opacity 0.2s $anim_style;
				}
			}
		}
	}
}