@import '_mixins';

.footer {
	background-color: $color_reg;
}

.footer_content {
	padding: 2rem 0;
}

.footer_top {
	margin-bottom: 2rem;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		text-align: center;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	p {
		color: $color_def;
		font-size: 18px;
		margin: 0 3px;

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			margin: 0 0 15px;
			font-size: 0.875rem;
		}

		a {
			color: $color_def;
			margin-right: 3px;
			transition: color 0.15s $anim_style;

			@media screen and (max-width: $tabletmin - 1 + 'px') {
				display: block;
				margin-bottom: 15px;
			}

			&:hover {
				color: $color_hover;
				transition: color 0.15s $anim_style;
			}
		}
	}
}

.footer_bottom {
	text-align: center;

	p {
		color: $color_def;
		font-size: 18px;
		margin-bottom: 15px;

		@media screen and (max-width: $tabletmin - 1 + 'px') {
			font-size: 0.875rem;
		}
	}

	a {
		display: block;
		text-align: center;
	}
}