@import '_mixins';

.form {
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 50px 0;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 150px 0 75px;
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;

		.form_content {

			.wf-group {

				@for $i from 1 through 10 {

					&:nth-child(#{$i}) {
						opacity: 1;
						transform: translate3d(0, 0, 0);
						transition: all 0.7s $anim_style #{$i * .02}s;
					}
				}
			}

			.form_submit {
				opacity: 1;
				transform: translate3d(0, -50%, 0);
				transition: all 0.7s $anim_style;
			}
		}
	}
}

.form_content {
	margin: 0 auto;
	position: relative;
	background-color: $card_back;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 30px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 90px;
		max-width: 500px;
	}

	@media screen and (min-width: $tabletmax + 'px') {
		max-width: 700px;
	}

	form {
		position: relative;
		z-index: 200;
	}

	.wf-group {
		margin-bottom: 15px;
		opacity: 0.25;
		transform: translate3d(0, -20px, 0);
		transition: all 0.7s $anim_style;

		@media screen and (min-width: $tabletmax + 'px') {
			width: 240px;
		}

		.wf-label {
			display: none;
		}
		
		input {
			height: 58px;
			width: 100%;
			padding-left: 10px;
			background-color: transparent;
			border: 1px solid $color_dark;
			border-radius: 4px;
			font-size: 18px;
			color: $color_dark;
			font-style: italic;
		}
	}

	.form_errors {
		margin: -10px 0 15px;

		.form_error {
			color: $color_error;
			font-size: 0.875rem;
		}
	}

	.form_success_sended {
		text-align: center;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    top: -50px;
	}

	.form_submit {
    height: 65px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $color_dark;
    font-size: 18px;
		color: $color_dark;
		opacity: 0.15;
		transform: translate3d(20px, -50%, 0);
		transition: all 0.15s $anim_style;

		@media screen and (max-width: $tabletmax - 1 + 'px') {
			transform: none !important;
			width: 100%;
		}

		@media screen and (min-width: $tabletmax + 'px') {
			width: 240px;
			position: absolute;
			right: 0;
			top: 50%;
		}

		&:hover {
			opacity: 0.75;
			transition: opacity 0.15s $anim_style;
		}
	}
}

.form_decor {

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		display: none;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		position: absolute;
		z-index: 100;
		top: 50%;
		left: -102px;
		width: calc(100% + 204px);
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			width: 102px;
			height: auto;

			&.form_decor_right {
				transform: scale(-1, 1);
			}
		}
	}
}