@import '_mixins';

.header {
	background-color: $color_def;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3000;
	transition: transform 0.5s $anim_style;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		padding: 15px 0;
	}

	&.__hidden {
		transform: translate3d(0, -100%, 0);
		transition: transform 0.5s $anim_style;
	}

	&.__menu_active {

		.header_content {

			@media screen and (max-width: $smalldesk - 1 + 'px') {
				transform-origin: 0% 0%;
				transform: translate3d(0, 0, 0);
				transition: transform 0.5s $anim_style;
			}
		}

		&.__hidden {
			transform: translate3d(0, 0, 0);
		}
	}
}

.header_mobile_logo {
	display: none;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		display: block;
		width: 100px;

		a {
			display: block;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.header_content {
	background-color: $color_def;
	display: flex;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		padding: 1.5rem;
		transform-origin: 0% 0%;
		transform: translate3d(100%, 0, 0);
		transition: transform 0.5s $anim_style;

		@media screen and (min-width: $tabletmin + 'px') {
			width: 300px;
		}
	}

	@media screen and (min-width: $smalldesk + 'px') {
		align-items: center;
		padding: 1rem 0;
	}
}

.header_social {
	display: flex;
	align-items: center;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		justify-content: center;
    margin-top: 30px;
	}
}

.header_social_item {
	width: 25px;
	height: 25px;
	margin-right: 15px;
}

.header_social_link {
	display: block;
	height: inherit;

	&:hover {

		img {
			opacity: 0.75;
			transition: opacity 0.15s $anim_style;
		}
	}

	img {
		height: 100%;
		width: auto;
		display: block;
		margin: 0 auto;
		transition: opacity 0.15s $anim_style;
	}
}

.header_nav {

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		order: -1;
		margin: 90px auto 0;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		margin: 0 auto;
	}
}

.header_nav_list {

	@media screen and (min-width: $smalldesk + 'px') {
		display: flex;
		align-items: center;
	}
}

.header_nav_item {
	position: relative;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		text-align: center;
		margin-bottom: 1rem;

		&.__active {
			margin-bottom: 2rem;
		}
	}

	&.__active {
		
		&:before {
			content: '';
			width: calc(100% - 20px);
			left: 10px;
			height: 3px;
			position: absolute;
			top: 100%;
			background-color: $color_dark;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 18px;
			height: 15px;
			transform: rotate(-90deg) translateY(-50%);
			background: url('../assets/slide_arrow.png') center/cover no-repeat;
			top: calc(100% + 10px);
    	left: 48%;
		}
	}

	a {
		display: block;
		padding: 0 10px;
		color: $color_reg;
		font-size: 18px;
		transition: color 0.15s $anim_style;

		@media screen and (min-width: $smalldesk + 'px') {

			&:hover {
				color: $color_hover;
				transition: color 0.15s $anim_style;
			}
		}
	}
}

.header_logo {

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		display: none;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		width: 135px;
		background-color: $color_def;
		margin: 0 15px;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.header_mobile_burger {
	display: none;

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		display: block;
		width: 33px;
		height: 27px;
		position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

		span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background-color: $color_reg;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 4px 0px;
			transition: transform 0.5s $anim_style, background-color 0.5s $anim_style, opacity 0.55s ease;

			&:first-child {
				transform-origin: 0% 0%;
			}

			&:nth-last-child(2)
			{
				transform-origin: 0% 100%;
			}
		}

		&.__active {

			span {
				opacity: 1;
				background-color: $color_dark;

				&:first-child {
					transform: rotate(45deg) translate(-2px, -5px);
				}

				&:nth-child(2) {
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(0, -3px);
				}
			}
		}
	}
}