@import '_mixins';

.hero {

	@media screen and (max-width: $smalldesk - 1 + 'px') {
		padding-top: 86px;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		padding-top: 106px;
	}

	.glide__slides {
		transform: none !important;
		width: auto !important;
		display: block;
	}

	.glide__slide {
		// padding: 0 0 75px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		margin: 0 !important;
		transition: opacity 1s;
		display: flex;
		flex-direction: column;

		&:first-child {
			position: relative;
		}
	}

	.glide__slide--active {
		z-index: 1;
		opacity: 1;
	}
}

.hero_content {
	height: inherit;
}

.hero_image {
	height: auto;
	width: 100%;
	// min-height: 700px;
	display: block;
	// object-fit: cover;
	// font-family: 'object-fit: cover;';
	// position: absolute;
	// top: 0;
	// left: 0;
	z-index: 100;
}

.title_container {
	width: 85%;

	&.topCenter {
		margin: 0 auto;
		width: 75%;

		.hero_title {
			color: $color_def;
			font-size: 5rem;
		}
	}

	&.topLeft {
		width: 40%;
		margin: 0 auto 0 0;
		padding-left: 7vw;
	}

	&.topRight {
		width: 40%;
		margin: 0 0 0 auto;
		padding-right: 7vw;
	}

	&.bottomCenter {
		width: 75%;
		margin: auto auto 0;

		.hero_title {
			color: $color_def;
			font-size: 5rem;
		}
	}

	&.bottomLeft {
		width: 40%;
		margin: auto auto 0 0;
		padding-left: 7vw;
	}

	&.bottomRight {
		width: 40%;
		margin: auto 0 0 auto;
		padding-right: 7vw;
	}
}

.hero_title {
	position: relative;
	z-index: 200;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}