@import '_mixins';

.instagram {
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 50px 0 0;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 75px 0 0;
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;
	}
}

.instagram_icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;

	img {
		width: 100px;
		height: auto;
		margin: 0 15px;

		&.arrow_icon {
			transform: rotate(90deg);
		}
	}
}

.instagram_slider {

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 20px 0 5px;
		background-color: $card_back;
	}

	.glide__slide {

		.instagram_link {
			display: block;

			@media screen and (min-width: $tabletmin + 'px') {
				margin-bottom: 10px;
			}

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	.glide__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) scale(1);
		width: 50px;
		height: 50px;
		background: $color_reg;
    border-radius: 50%;
    display: flex;
    align-items: center;
		justify-content: center;
		will-change: transform;
		transition: transform 0.25s $anim_style;

		@media screen and (max-width: $tabletmax - 1 + 'px') {
			right: 20px;
		}
	
		@media screen and (min-width: $tabletmax + 'px') {
			right: 50px;
		}
		
		&:hover {
			transform: translateY(-50%) scale(1.05);
			transition: transform 0.25s $anim_style;
		}

		img {
			width: 50%;
			height: auto;
			filter: invert(100%);
		}

		&.glide__arrow--prev {
			right: auto;

			@media screen and (max-width: $tabletmax - 1 + 'px') {
				left: 20px;
			}
		
			@media screen and (min-width: $tabletmax + 'px') {
				left: 50px;
			}

			img {
				transform: rotate(180deg);
			}
		}
	}
}