@import '_mixins';

.price {
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 50px 0;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 75px 0;
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;
	}
}

.price_title_head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: none;
	width: 100%;
	margin-bottom: 60px;
}

.price_title {
	font-family: $hand_family;
	background-color: $card_back;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		font-size: 50px;
		padding: 15px 100px;
		border-radius: 50px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		font-size: 70px;
		padding: 18px 160px;
		border-radius: 75px;
	}
}

.price_info {
	h1, h2, h3 {
		font-weight: 600;
		margin: 20px 0 15px;
		font-size: 18px;
	}

	h4, h5, h6 {
		font-weight: 600;
		margin: 25px 0 15px;
		font-size: 14px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 15px;
	}

	a {
		color: $color_dark;
		text-decoration: underline;
		transition: color 0.15s $anim_style;

		&:hover {
			color: $color_hover;
			transition: color 0.15s $anim_style;
		}
	}

	ul, ol {
		margin: 15px 0;
		padding-left: 30px;
	}

	ul {
		list-style-type: disc;
	}

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	hr {
		margin-bottom: 15px;
	}

	figure {
		margin: 15px 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}