@import '_mixins';

.redactor {
	
	h1, h2, h3 {
		font-weight: 600;
		margin: 20px 0 15px;
		font-size: 18px;
	}

	h4, h5, h6 {
		font-weight: 600;
		margin: 25px 0 15px;
		font-size: 14px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 15px;
	}

	a {
		color: $color_dark;
		text-decoration: underline;
		transition: color 0.15s $anim_style;

		&:hover {
			color: $color_hover;
			transition: color 0.15s $anim_style;
		}
	}

	ul, ol {
		margin: 15px 0;
		padding-left: 30px;
	}

	ul {
		list-style-type: disc;
	}

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	hr {
		margin-bottom: 15px;
	}

	figure {
		margin: 15px 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}