@import '_mixins';

.services {
	transform: translate3d(0, 50px, 0);
	opacity: 0.15;
	transition: all 0.5s $anim_style;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		padding: 50px 0;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		padding: 75px 0;
	}

	&.__active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 0.5s $anim_style;
	}
}

.services_content {
	margin-bottom: -50px;

	@media screen and (min-width: $tabletmin + 'px') {
		display: flex;
		flex-wrap: wrap;
	}
}

.services_title_head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: none;
	width: 100%;
	margin-bottom: 60px;
}

.services_title {
	font-family: $hand_family;
	background-color: $card_back;

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		font-size: 50px;
		padding: 15px 100px;
		border-radius: 50px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		font-size: 70px;
		padding: 18px 160px;
		border-radius: 75px;
	}
}

.services_background {

	@media screen and (max-width: $tabletmin - 1 + 'px') {
		display: none;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		max-width: 520px;
		height: auto;
		top: 195px;
		width: 50%;
	}

	@media screen and (min-width: $smalldesk + 'px') {
		width: 100%;
	}
}

.service_item {
	position: relative;
	z-index: 100;
	margin-bottom: 50px;

	@media screen and (min-width: $tabletmin + 'px') {
		width: 50%;
	}

	&:nth-child(odd) {

		.service_item_wrapper {
			margin: 0 auto 0 0;
		}
	}

	&:nth-child(even) {

		.service_item_wrapper {
			margin: 0 0 0 auto;
		}
	}
}

.service_item_wrapper {
	text-align: center;

	@media screen and (min-width: $tabletmin + 'px') {
		width: 50%;
	}
}

.service_item_icon {
	
	@media screen and (max-width: $tabletmin - 1 + 'px') {
		max-width: 80px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		max-width: 95px;
	}
}

.service_item_text {
	width: 65%;
	word-break: break-word;
	
	@media screen and (max-width: $tabletmin - 1 + 'px') {
		margin: 10px auto 0;
		width: 100%;
		max-width: 250px;
	}

	@media screen and (min-width: $tabletmin + 'px') {
		margin: 20px auto 0;
	}
}