{% set about_content_parts = entry.about.all() %}

{% if about_content_parts|length %}

<section class="about" id="about">

		{% set about_content_bgr = about_content_parts|filter(el => el.type == 'aboutBackground')|first %}

		<div class="about_wrapper" style="background-image: url('{{ about_content_bgr.aboutBackground.one().url }}');">
			<div class="container">
				<div class="about_content">
					
					{% for part in about_content_parts %}
						{% if part.type != 'aboutBackground' %}

							{% include '_parts/' ~ part.type %}
							
						{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
	</section>

{% endif %}