{% set card_content = entry.card.all() %}

{% if card_content|length %}
	
	<section class="card" id="card">
		<div class="container">

				{% for part in card_content %}

					<div class="card_content_wrapper">
						<div class="card_content">
							<div class="card_image">
								<img src="{{ part.cardImage.one().url }}" alt="{{ part.cardTitle }}">
							</div>
							<div class="card_description">
								<h2 class="card_title">{{ part.cardTitle }}</h2>
								<div class="card_info redactor">{{ part.cardContent }}</div>
							</div>
						</div>
					</div>
						
				{% endfor %}

		</div>
	</section>

{% endif %}