{% set feedback_content = entry.feedbacks.all() %}

{% if feedback_content|length %}

	<section class="feedbacks" id="feedbacks">
		<div class="container">
			<div class="feedbacks_content">
				<h2 class="feedbacks_title">Palautteet</h2>

				<div class="glide feedbacks_slider">
					<div class="feedback_glide_overlay"></div>
					<div data-glide-el="track" class="glide__track">
						<div class="glide__slides">
		
							{% for item in feedback_content %}
								
								<div class="glide__slide">
									<img class="feedbacks_image" src="{{ item.feedbackImage.one().url }}" alt="Feedback image">
									<div class="feedbacks_info redactor">{{ item.feedbackContent }}</div>
								</div>
		
							{% endfor %}
							
						</div>
					</div>

					<div class="glide__arrows" data-glide-el="controls">
						<button class="glide__arrow glide__arrow--prev" data-glide-dir="<">
							<img src="/assets/slide_arrow.png" alt="Slider switcher">
						</button>
						<button class="glide__arrow glide__arrow--next" data-glide-dir=">">
							<img src="/assets/slide_arrow.png" alt="Slider switcher">
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endif %}