<section class="form" id="form">
	<div class="container">
		<div class="form_content">

			{% macro errorList(errors) %}
				{% if errors %}
					<ul class="form_errors">
						{% for error in errors %}
								<li class="form_error">{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			{% set form = wheelform.form({
				id: 1,
				attributes: {
					'id': 'main_form'
				},
				submitButton: {
					"type": "button",
					"label": "Lähetä",
					"attributes": {
						"class": "form_submit"
					}
				}
			}) %}

			{{ form.open() }}
				{{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}

				{% for field in form.fields %}
					{{ field.render() }}
					{{ wheelformErrors[field.name] is defined ? errorList(wheelformErrors[field.name]) }}
				{% endfor %}

				{% if craft.app.session.hasFlash('wheelformSuccess') %}
					<p class="form_success_sended">{{ craft.app.session.getFlash('wheelformSuccess') }}</p>
				{% endif %}
				
			{{ form.close() }}

			<div class="form_decor">
				<img class="form_decor_left" src="/assets/form_flowers.jpg" alt="Form decor">
				<img class="form_decor_right" src="/assets/form_flowers.jpg" alt="Form decor">
			</div>

		</div>
	</div>
</section>