{% set hero_content = entry.hero.all() %}

{% if hero_content|length %}

	<section class="hero" id="hero">
		<div class="hero_content">

			<div class="glide hero_slider">
				<div data-glide-el="track" class="glide__track">
					<div class="glide__slides">

						{% for item in hero_content %}

							{% set title_position = item.heroTitlePosition.value %}

							<div class="glide__slide">
								<img class="hero_image" src="{{ item.heroImage.one().url }}" alt="Hero image">

								{% if item.heroTitle %}

									<div class="title_container {{ title_position }}">
										<h2 class="hero_title" style="color: {{ item.heroTitleColor.getHex() }}">{{ item.heroTitle }}</h2>
									</div>
									
								{% endif %}
							</div>

						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</section>

{% endif %}