{% set is_section_enbled = entry.instagram.value %}
{% set instagram_feeds = craft.instagram.getFeed() %}

{% if is_section_enbled and instagram_feeds|length > 0 %}

	<section class="instagram" id="instagram">
		<div class="instagram_content">

			<div class="instagram_icons">
				<img class="instagram_icon" src="/assets/instagram.jpg" alt="Instagram icon">
				<img class="arrow_icon" src="/assets/slide_arrow.png" alt="Arrow icon">
			</div>

			<div class="glide instagram_slider">
				<div data-glide-el="track" class="glide__track">
					<ul class="glide__slides">

						{% for item in instagram_feeds %}
							<li class="glide__slide">
								<a class="instagram_link" href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank">
									<img src="{{ item.src }}" alt="Instagram item" />
								</a>
							</li>
						{% endfor %}

					</ul>
				</div>

				<div class="glide__arrows" data-glide-el="controls">
					<button class="glide__arrow glide__arrow--prev" data-glide-dir="<">
						<img src="/assets/slide_arrow.png" alt="Slider switcher">
					</button>
					<button class="glide__arrow glide__arrow--next" data-glide-dir=">">
						<img src="/assets/slide_arrow.png" alt="Slider switcher">
					</button>
				</div>
			</div>

		</div>
	</section>

{% endif %}