{% set price_content = entry.price.all() %}

{% if price_content|length %}

	<section class="price" id="price">
		<div class="container">

			{% for part in price_content %}

				<div class="price_content">
					<div class="price_title_head">
						<h2 class="price_title">{{ part.priceTitle }}</h2>
					</div>
					<div class="price_info redactor">{{ part.priceContent }}</div>
				</div>

			{% endfor %}

		</div>
	</section>

{% endif %}