{% set services_content_parts = entry.services.all() %}

{% if services_content_parts|length %}

	<section class="services" id="services">

		<div class="container">
			<div class="services_content">
				
				{% for part in services_content_parts %}
					{% include '_parts/' ~ part.type %}
				{% endfor %}

			</div>
		</div>
	</section>

{% endif %}