<footer class="footer">
	<div class="container">
			<div class="footer_content">
				<div class="footer_top">
					<p>&copy; {{ 'now'|date('Y') }} Hinrikus Accounting</p>
					<p>
						
						{% set phones = footer.contactPhones.all() %}

						{% for phone in phones %}
							<a href="tel:+{{ phone.contactPhone|replace({' ': ''}) }}">{{ phone.contactPhone }}</a>
						{% endfor %}

					</p>
				</div>
				<div class="footer_bottom">
					<p>Powered by Popova</p>
					<a href="http://www.natalipopova.com" target="_blank">
						<img src="/assets/popova.png" alt="Popova logo">
					</a>
				</div>
			</div>
	</div>
</footer>