<header class="header">
	<div class="container">
			<div class="header_mobile_logo">
				<a href="{{ siteUrl }}">
					<img class="header_logo_image" src="{{ header.logo.one().url }}" alt="Header logo">
				</a>
			</div>
			<div class="header_content">
				<ul class="header_social">

					{% for link in header.socialNetworks.all() %}

						<li class="header_social_item">
							<a href="{{ link.socialNetworkLink }}" class="header_social_link" target="_blank">
								<img src="{{ link.socialNetworkIcon.one().url }}" alt="Social link icon">
							</a>
						</li>

					{% endfor %}

				</ul>

				<nav class="header_nav">
					<ul class="header_nav_list">
						{% set nav_links = header.navigation.all() %}
						{% set loop_median = nav_links|length / 2 %}

						{% for link in nav_links %}
							<li class="header_nav_item">
								<a href="{{ link.navigationAnchor }}">{{ link.navigationTitle }}</a>
							</li>

							{% if loop.index == loop_median|round %}
								<li class="header_logo">
									<img class="header_logo_image" src="{{ header.logo.one().url }}" alt="Header logo">
								</li>
							{% endif %}

						{% endfor %}
						
					</ul>
				</nav>
			</div>
			<button class="header_mobile_burger">
				<span></span>
				<span></span>
				<span></span>
			</button>
	</div>
</header>