<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Hinkikus Accounting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta property="og:title" content="Taloushallinnon palvelut joustavasti, tehokkaasti ja täsmällisesti">
    <meta property="og:site_name" content="Hinrikus Accounting">
    <meta property="og:url" content="https://hinrikusaccounting.fi/">
    <meta property="og:description" content="Palvelemme asiakkaita ympäri Suomea suomeksi, venäjäksi ja englanniksi.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://hinrikusaccounting.fi/hero/1.jpg">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/vendors~main.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    
    {% include '_header' %}

    <main class="main">

        {% set home_page_sections = craft.entries.section('homePage').one().getFieldLayout().getFields() %}

        {% for section in home_page_sections %}
            {% include '_home/_' ~ section.handle %}
        {% endfor %}

        {% include '_footer' %}

    </main>

    <script src="/assets/vendors~main.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>
